---
import { Image } from 'astro:assets';
---

<!-- <style>
    .vtable {
        display: inline-flex;
        flex-direction: column;
    }

    .htable {
        display: inline-flex;
        flex-direction: row;
    }
</style> -->

<div style="display: flex; flex-direction: column; align-content: center;" >
    <div style="display: flex; flex-direction: row; justify-content: space-between;" >
        <img src="/kotlin.svg" alt="kotlin" width="40" height="40" style={"height: 40px;  margin-top: 0px;"} />
        <img src="/ktor.svg" alt="ktor" width="40" height="40" style={"height: 40px; margin-top: 0px;"} />
        <img src="/consul.svg" alt="consul" width="40" height="40" style={"margin-top: 0px;"} />
        <img src="/docker.svg" alt="docker" width="40" height="40" style={"margin-top: 0px;"} />
    </div>
    <div>
        asdfsadf
    </div>
</div>