<div class="projects-header project-typing">
    My Projects
</div>

<div style="height: 1em;" />

<div class="project project-typing" onclick="dm()" >Daylin Microservices</div>
<div class="project project-typing" onclick="forte()" >Forte Engine</div>
<div class="project project-typing" onclick="ne()" >Nebulous Engine</div>
<div class="project project-typing" onclick="meld()" >Meld</div>
<div class="project project-typing" onclick="cubic()" >Cubic</div>
<div class="project project-typing" onclick="exp()" >Experiments</div>

<script type="application/javascript">
    function dm() { console.log("TODO to docs!") }
    function forte() { console.log("TODO to docs!") }
    function ne() { console.log("TODO to docs!") }
    function meld() { console.log("TODO to docs!") }
    function cubic() { console.log("TODO to docs!") }
    function exp() { console.log("TODO to docs!") }
</script>
<script>
    // setup
    let tick = 0;
    let waitTicks = 100;
    let typeTicks = 30;

    // get nametags and their target texts
    let nametags = window.document.getElementsByClassName("project-typing") as HTMLDivElement[];
    let targetTexts = [];
    for (var i = 0; i < nametags.length; i++) {
        targetTexts.push(nametags[i].textContent!!);
        nametags[i].textContent = "";
    }

    // start looping
    let interval = setInterval(function() {
        // do initial ticking like its about to starting typing
        if (tick <= waitTicks) {}
        // do typing
        else if (tick <= typeTicks + waitTicks) {
            let progress = (tick - waitTicks) / typeTicks;
            for (var i = 0; i < targetTexts.length; i++) {
                nametags[i].textContent = targetTexts[i].slice(0, Math.ceil(targetTexts[i].length * progress));
            }
        } 
        // make this animation end
        else if (tick > typeTicks + waitTicks) {
            for (var i = 0; i < targetTexts.length; i++) {
                nametags[i].textContent = targetTexts[i];
            }
            clearInterval(interval);
        }
        tick++;
    }, 100);
</script>